.text {
  padding: 1.875em 0;
}
.text__image {
  margin-bottom: 1.25em;
  text-align: center;
}
.text__image img {
  max-width: 100%;
}
.cards__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.cards__item {
  max-width: 33.3%;
  padding: 0 0.625em;
}
.cards__image {
  margin-bottom: 1.25em;
  height: 12.5em;
  min-height: 6.25em;
  overflow: hidden;
}
.cards__image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
