@use 'sass:math';
.footer {
  @include adapt(margin-top, 63, 24, 1);
  background-color: #717353;
  @include adapt(padding-top, 68, 21, 1);
  @include adapt(padding-bottom, 96, 32, 1);

  &__container {
    padding: 0.625em;
    max-width: em(1392);
    display: grid;
    @include adapt(gap, 32, 16, 1);
    grid-template-columns: repeat(auto-fill, minmax(em(250), 1fr));
  }

  &__title {
    text-transform: uppercase;
    font-size: rem(15);
    line-height: rem(18);
    color: #fff;
    &::after {
      content: '';
      display: block;
      width: em(40);
      height: 1px;
      background-color: #fff;
      margin: em(15) 0;
    }
  }

  &__list {
    margin-top: 0.125em;
    @media (max-width: $md3) {
      margin-top: 0.9375em;
    }
  }

  &__item {
    margin: 10px 0;
    @media (max-width: $md3) {
      margin: 7px 0;
    }
  }

  &__link {
    font-size: rem(16);
    line-height: rem(25);
    text-transform: uppercase;
    color: #fff;
  }
}

.info-footer {
  // flex: 0 0 em(350);
  color: #fff;
  &__title {
    font-size: rem(15);
    &::after {
      content: '';
      display: block;
      width: em(40);
      height: 1px;
      background-color: #fff;
      margin: em(15) 0;
    }
  }
  &__text {
    font-size: rem(16);
  }
}

.social-footer {
  display: flex;
  align-items: flex-start;
  justify-content: end;
  gap: em(19);
  &__link {
    background-color: transparent;
  }
}
