.header {
  &_fixed {
    position: fixed;
    top: -40px;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    background-color: $headerFixed;
  }
}

.header__top {
  background-color: #fff;
  // color: rgb(14, 34, 51);
}
.top-header {
  padding: em(10) 0;
  &__container {
    display: flex;
    align-items: center;
    @include adapt(gap, 20, 10, 1);
    min-height: em(50);
  }
  &__menu {
    flex: 1 1 25%;
  }
  &__logo {
    margin: 0 em(10);
    animation-name: pulselogo;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    @media (max-width: $md4) {
      flex: 1 1 em(100);
    }
  }
}
.menu-top-header {
  display: block;
  @media (max-width: $md3) {
    display: none;
  }
  &__list {
    display: flex;
    @include adapt(column-gap, 50, 20, 1);
    row-gap: em(5);
    @media (max-width: $md3) {
      flex-direction: column;
      row-gap: em(32);
    }
  }
  &__link {
    font-size: rem(16);
    @include adapt(font-size, 16, 14, 1);
    line-height: rem(25);
    text-transform: uppercase;
    color: #56593d;
    white-space: nowrap;
    &_catalog {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (min-width: $md2) {
        display: none;
      }
    }
  }
}
@media (any-hover: hover) {
  .menu-top-header__link:hover {
    text-decoration: underline;
  }
}
.top-header__user {
  display: inline-flex;
  align-items: center;
  font-size: 0;
  position: relative;
  z-index: 5;
}

@media (any-hover: hover) {
  .top-header__user:hover {
    text-decoration: underline;
  }
}

.top-header__search {
  padding-right: em(16);
  padding-left: em(16);
  // @include adapt(padding-left, 150, 20, 1);
  flex: 0 1 em(240);
  @media (max-width: $md3) {
    flex: 1 1 auto;
  }
  @media (max-width: $md4) {
    flex: 0 0 em(32);
  }
}

.search-header {
  background-color: rgba(7, 7, 7, 0.03);
  border-radius: 3px;
  position: relative;
  @media (min-width: $md2) {
    max-width: em(320);
  }
  @media (max-width: $md4) {
    background-color: #fff;
  }
  &__button {
    background-color: transparent;
    position: absolute;
  }
  &__input {
    background-color: transparent;
    border-radius: 3px;
    // height: em(40);
    @include adapt(height, 32, 21, 1);
    color: var(--main-colour);
    padding: 0 em(10) 0 em(40);
    width: 100%;
  }
}

/* ============================ */

.cart-header {
  display: flex;
  align-items: center;
  column-gap: em(15);
  position: relative;
  z-index: 5;
  &__icon {
    flex: 0 0 em(32);
  }
  &__num {
    background-color: #fff;
    color: black;
    font-size: rem(16);
    width: em(16);
    height: em(16);
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: em(-5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* ============================ */

[class*='-ibg'] {
  position: relative;
}
[class*='-ibg'] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
[class*='-ibg_contain'] img {
  object-fit: contain;
}

/* ======================================================== */

/* ================================== */
@keyframes pulselogo {
  from {
    transform: scale(85%);
  }
  50% {
    transform: scale(100%);
  }
  to {
    transform: scale(85%);
  }
}
