.header {
  // position: absolute;
  // left: 0;
  // top: 0;
  width: 100%;
  z-index: 10;
  transition: all 0.8s ease;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include adapt(padding-top, 54, 20, 1);
    @include adapt(padding-bottom, 8, 5, 1);
  }

  &__logo {
    display: inline-block;
    font-size: 0;
  }

  &__shop-menu {
    display: flex;
    align-items: center;
    gap: em(20);
    max-width: em(140);
    margin-right: em(15);
    @media (max-width: $md5) {
      display: none;
    }
  }

  &_fixed {
    position: fixed;
    top: -40px;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    background-color: $headerFixed;
  }
  &_top {
    margin-top: 40px;
  }
}

.nav {
  max-width: em(564);
  @media (max-width: $md3) {
    display: none;
  }
  &__list {
    display: flex;
    column-gap: em(35);
  }

  &__link {
    position: relative;
    text-transform: uppercase;
    font-size: em(16);
    line-height: em(25);
    color: #56593d;
    &:hover {
      border-bottom: 3px solid $colourFont;
    }
  }
}

.shop-menu {
  &__item {
    width: 1.25rem;
    margin-right: 1.25rem;
  }
  &__link {
    background-color: transparent;
  }
  &_num {
    position: absolute;
    bottom: em(-5);
    right: em(-5);
    padding: em(5);
    background-color: #fff;
    border-radius: 50%;
  }
}
