.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
  transition: all 0.8s ease;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include adapt(padding-top, 20, 15, 1);
    @include adapt(padding-bottom, 20, 15, 1);
    // padding-top: 20px;
    // padding-bottom: 20px;
    // @media (max-width: $md2) {
    //   padding-top: 15px;
    //   padding-bottom: 15px;
    // }
  }

  &__logo {
    display: inline-block;
    font-size: 0;
  }

  &__shop-menu {
    display: flex;
    align-items: center;
    max-width: 18.75rem;
    @media (max-width: $md5) {
      display: none;
    }
  }

  &_fixed {
    position: fixed;
    top: -40px;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    background-color: $headerFixed;
  }
  &_top {
    margin-top: 40px;
  }
}

.nav {
  @media (max-width: $md4) {
    display: none;
  }
  &__list {
    display: flex;
    column-gap: 1.25rem;
  }

  &__link {
    position: relative;
    @media (min-width: $md2) {
      font-size: 1.25rem;
    }
    font-size: 1rem;
    &:hover {
      border-bottom: 3px solid $colourFont;
    }
  }
}

.shop-menu {
  &__item {
    width: 1.25rem;
    margin-right: 1.25rem;
    &_search {
      max-width: 6.25rem;
      @media (min-width: $md3) {
        max-width: 12.5rem;
      }
    }
  }
  &__search {
    display: flex;
    align-items: center;
  }
}
.search {
  &__btn {
    background-image: url(../img/icons/search.png);
    width: 1.125em;
    height: 1.25em;
    padding-right: 1.25em;
    cursor: pointer;
  }
  &__btn:hover {
    outline: none;
    max-width: 12.5em;
    width: 100%;
    border-bottom: 1px solid black;
    background-size: 0%;
  }
}
.cart {
  display: inline-flex;
  align-items: center;
  background-image: url(../img/icons/cart.png);
  width: 1.875em;
  height: 1.875em;

  &__num {
    position: absolute;
    right: -1.25em;
    top: 0;
  }
}

.num {
  background-color: $btnBgColour;
  color: $colourFont;
  padding: 0 7px;
  border-radius: 1.25em;
  &_transp {
    background-color: $transparentColour;
    border: 1px solid $colourFont;
  }
}
