@use 'sass:math';
.hero {
  position: relative;
  margin-top: em(35);
  background-image: url(../img/hero/full.jpg);
  background-position: center;
  background-size: cover;
  height: em(700);

  &__img {
    position: relative;
  }

  &__content {
    position: absolute;
    bottom: em(64);
    right: em(64);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__title {
    font-size: rem(18);
    line-height: rem(22);
    margin-bottom: em(10);
    color: #56593d;
    text-transform: uppercase;
  }

  &__dscr {
    font-size: rem(45);
    line-height: rem(60);
    max-width: em(320);
    min-height: em(20);
    overflow: hidden;
    max-height: 11.875em;
    text-transform: capitalize;
    color: #56593d;
  }

  &__btn {
    padding: em(16) em(25);
    text-transform: uppercase;
    font-size: rem(16);
    line-height: rem(22);
    margin-top: em(25);
  }

  &__pic {
    position: absolute;
    right: 0;
    bottom: 50%;
    transform: translateY(50%);
    max-width: 40em;
    @media (min-width: $md2) {
      max-width: 52em;
    }

    @media (max-width: $md3) {
      bottom: 0;
      right: 0;
      transform: translateY(0);
    }
  }
}
