@use 'sass:math';
.hero {
  position: relative;
  margin-top: em(35);
  background-image: url(../img/hero/full.jpg);
  background-position: center;
  background-size: cover;
  height: em(700);
  @media (max-width: $md3) {
    background-position: em(-150) 0;
  }

  &__img {
    position: relative;
  }

  &__content {
    position: absolute;
    bottom: em(64);
    right: em(64);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: em(450);
  }

  &__title {
    font-size: rem(18);
    line-height: rem(22);
    margin-bottom: em(10);
    color: #56593d;
    text-transform: uppercase;
  }

  &__dscr {
    @include adapt(font-size, 45, 24, 1);
    @include adapt(line-height, 60, 32, 1);
    max-width: em(320);
    min-height: em(20);
    overflow: hidden;
    max-height: em(64);
    text-transform: capitalize;
    color: #56593d;
  }

  &__btn {
    @include adapt(padding-top, 16, 12, 1);
    @include adapt(padding-bottom, 16, 12, 1);
    @include adapt(padding-left, 25, 16, 1);
    @include adapt(padding-right, 25, 16, 1);
    text-transform: uppercase;
    font-size: rem(16);
    line-height: rem(22);
    margin-top: em(25);
  }
}
