.toTop {
  position: fixed;
  bottom: 12%;
  right: 2%;
  display: none;
  cursor: pointer;
  height: em(50);
  width: em(50);
  color: #fff;
  background-color: $btnBgColour;
  border-radius: 50%;
  text-decoration: none;
  z-index: 10;
}

.show {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hide {
  display: none;
}
