<div class="burger">
  <div class="burger__icon icon-burger">
    <span></span>
  </div>
  <div class="burger__menu menu-burger">
    <ul class="menu-burger__list list-burger">
      <li class="list-burger__logo">
        <img src="img/logo/logo.png" alt="logo" />
      </li>
      <li class="list-burger__item">
        <a href="" class="list-burger__link"> Shop</a>
      </li>
      <li class="list-burger__item">
        <a href="" class="list-burger__link">Style Quiz</a>
      </li>
      <li class="list-burger__item">
        <a href="" class="list-burger__link">About Us</a>
      </li>
      <li class="list-burger__item">
        <a href="" class="list-burger__link">Stories</a>
      </li>
    </ul>
  </div>
</div>
