<section class="collection">
  <div class="collection__container container">
    <h2 class="collection__title title">Maple Board Collection</h2>
    <div class="collection__box box-collection">
      <div class="box-collection__item item-collection">
        <a href="" class="item-collection__link">
          <div class="item-collection__img">
            <img src="../img/collection/01.jpg" alt="01" />
          </div>
          <div class="item-collection__content content-collection">
            <h3 class="content-collection__name">
              Maple Board - Short Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Perspiciatis, deleniti! Voluptates repellat dolores obcaecati minus placeat omnis
              doloremque dignissimos sapiente quibusdam neque earum, beatae officiis ad sint aut
              consectetur exercitationem. Quaerat obcaecati doloribus voluptatem reiciendis fugiat
              veritatis modi eveniet inventore optio! Quis laudantium consectetur neque veritatis
              ipsum odit at voluptatem autem quasi? Quisquam repudiandae, eligendi suscipit ad nobis
              explicabo aut sapiente odio ratione. Fugiat deleniti quos aliquam placeat accusantium
              voluptate reprehenderit omnis veritatis repellendus numquam perspiciatis, ipsam velit
              iure pariatur enim. Rerum totam cumque molestiae ad provident fugiat aliquid amet.
            </h3>
            <p class="content-collection__price">$98.00</p>
          </div>
        </a>
      </div>
      <div class="box-collection__item item-collection">
        <a href="" class="item-collection__link">
          <div class="item-collection__img">
            <img src="../img/collection/02.jpg" alt="02" />
          </div>
          <div class="item-collection__content content-collection">
            <h3 class="content-collection__name">Maple Board - Short</h3>
            <p class="content-collection__price">$98.00</p>
          </div>
        </a>
      </div>
      <div class="box-collection__item item-collection">
        <a href="" class="item-collection__link">
          <div class="item-collection__img">
            <img src="../img/collection/03.jpg" alt="03" />
          </div>
          <div class="item-collection__content content-collection">
            <h3 class="content-collection__name">Maple Board - Short</h3>
            <p class="content-collection__price">$98.00</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
