<div class="dynamic-adapt">
  <div class="dynamic-adapt__container container">
    <section class="dynamic-adapt__section">
      <h2 class="dynamic-adapt__title">CITY</h2>
      <div class="dynamic-adapt__blocks dynamic-adapt_city">
        <div class="dynamic-adapt__block dynamic-adapt__block_1">NICOLAS</div>
        <div class="dynamic-adapt__block dynamic-adapt__block_2 click">ANNA</div>
        <div
          data-dynamic="dynamic-adapt__column_river,2,992"
          class="dynamic-adapt__block dynamic-adapt__block_3 dynamic-adapt__block_item"
        >
          JOHN
        </div>
      </div>
    </section>
    <section class="dynamic-adapt__section">
      <h2 class="dynamic-adapt__title">COUNTRYSIDE</h2>
      <div class="dynamic-adapt__row">
        <div class="dynamic-adapt__column dynamic-adapt__column_garden">
          <h2 class="dynamic-adapt__title">GARDEN</h2>
          <div class="dynamic-adapt__block dynamic-adapt__block_2">LEONID</div>
        </div>
        <div class="dynamic-adapt__column dynamic-adapt__column_river">
          <h2 class="dynamic-adapt__title">RIVER</h2>
          <div class="dynamic-adapt__block dynamic-adapt__block_3">HELEN</div>
        </div>
      </div>
    </section>
    <footer class="dynamic-adapt__footer footer-dynamic">
      <div class="footer-dynamic__text">BASEMENT</div>
    </footer>
  </div>
</div>
