<footer class="footer">
  <div class="footer__container container">
    <div class="footer__column info-footer">
      <div class="info-footer__title">© 2021 Kinn Home</div>
      <div class="info-footer__text">Need to get in touch? Just email us at hello@kinnhome.co</div>
    </div>
    <div class="footer__column">
      <h3 class="footer__title">Explore</h3>
      <ul class="footer__list">
        <li class="footer__item">
          <a href="#!" class="footer__link"> shop </a>
        </li>
        <li class="footer__item">
          <a href="#!" class="footer__link"> style quiz </a>
        </li>
        <li class="footer__item">
          <a href="#!" class="footer__link"> About Us </a>
        </li>
        <li class="footer__item">
          <a href="#!" class="footer__link"> stories </a>
        </li>
      </ul>
    </div>
    <div class="footer__column">
      <h3 class="footer__title">help</h3>
      <ul class="footer__list">
        <li class="footer__item">
          <a href="#!" class="footer__link"> faqs + shipping </a>
        </li>
        <li class="footer__item">
          <a href="#!" class="footer__link"> contact </a>
        </li>
        <li class="footer__item">
          <a href="#!" class="footer__link"> terms </a>
        </li>
        <li class="footer__item">
          <a href="#!" class="footer__link"> trade </a>
        </li>
      </ul>
    </div>
    <div class="footer__column social-footer">
      <div class="social-footer__item">
        <button type="button" title="link" class="social-footer__link">
          <span class="_icon-fb"></span>
        </button>
      </div>
      <div class="social-footer__item">
        <button type="button" title="link" class="social-footer__link">
          <span class="_icon-pinter"></span>
        </button>
      </div>
      <div class="social-footer__item">
        <button type="button" title="link" class="social-footer__link">
          <span class="_icon-insta"></span>
        </button>
      </div>
    </div>
  </div>
</footer>
