<header class="header">
  <div class="header__container container">
    <nav class="header__menu menu-header">
      <ul data-dynamic="menu__body,1,768" class="menu-header__list">
        <li class="menu-header__item">
          <a href="#!" class="menu-header__link">
            shop
            <span class="_icon-down"> </span>
          </a>
        </li>
        <li class="menu-header__item">
          <a href="./catalog.html" class="menu-header__link">style quiz</a>
        </li>
        <li class="menu-header__item">
          <a href="#!" class="menu-header__link">about us</a>
        </li>
        <li class="menu-header__item">
          <a href="#!" class="menu-header__link">
            stories
            <span class="_icon-down"> </span>
          </a>
        </li>
      </ul>
    </nav>
    @@include('../template/_burger.html')
    <a href="" class="header__logo">
      <img src="img/logo/logo.png" alt="logo" />
    </a>
    <div class="header__icons icons-header">
      <div class="icons-header__search">
        <form action="#" class="search-header">
          <label for="search-header__submit">
            <button type="submit" title="search" class="search-header__button">
              <span class="_icon-search"> </span>
            </button>
          </label>
          <label for="search-header__input">
            <input
              type="text"
              title="title"
              autocomplete="off"
              data-error="Error"
              placeholder=""
              name="form[]"
              class="search-header__input"
            />
          </label>
        </form>
      </div>
      <a href="" class="icons-header__user">
        <span class="_icon-user"> </span>
        Enter
      </a>
      <a href="" class="actions-header__bag bag-header">
        <div class="bag-header__icon">
          <span class="_icon-bag"></span>
          <span class="bag-header__num"> 0 </span>
        </div>
      </a>
    </div>
  </div>
</header>
