<header class="header">
  <div class="header__container container">
    <nav class="header__nav nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="" class="nav__link">
            Shop
            <span class="_icon-down"></span>
          </a>
        </li>
        <li class="nav__item">
          <a href="" class="nav__link"> Style Quiz </a>
        </li>
        <li class="nav__item">
          <a href="" class="nav__link"> About Us </a>
        </li>
        <li class="nav__item">
          <a href="" class="nav__link">
            Stories
            <span class="_icon-down"></span>
          </a>
        </li>
      </ul>
    </nav>
    @@include('../template/_burger.html')
    <a href="./index.html" class="header__logo logo icon-logo">
      <img src="../img/logo/logo.png" alt="logo" />
    </a>
    <ul class="header__shop-menu shop-menu">
      <li class="shop-menu__item shop-menu__item_search">
        <button type="button" title="link" class="shop-menu__link">
          <span class="_icon-user"></span>
        </button>
      </li>
      <li class="shop-menu__item">
        <button type="button" title="link" class="shop-menu__link">
          <span class="_icon-search"></span>
        </button>
      </li>
      <li class="shop-menu__item">
        <button type="button" title="link" class="shop-menu__link">
          <span class="_icon-bag"></span>
          <span class="shop-menu_num">0</span>
        </button>
      </li>
    </ul>
  </div>
</header>
