<header class="header">
  <div class="header__top top-header">
    <div class="top-header__container container">
      <nav class="top-header__menu menu-top-header">
        <ul data-dynamic="menu__body,1,992" class="menu-top-header__list">
          <li class="menu-top-header__item">
            <a href="" class="menu-top-header__link menu-top-header__link_catalog"
              >Catalogue
              <span class="_icon-down"> expand_more </span>
            </a>
          </li>
          <li class="menu-top-header__item">
            <a href="#!" class="menu-top-header__link">shop</a>
          </li>
          <li class="menu-top-header__item">
            <a href="./catalog.html" class="menu-top-header__link">style quiz</a>
          </li>
          <li class="menu-top-header__item">
            <a href="#!" class="menu-top-header__link">about us</a>
          </li>
          <li class="menu-top-header__item">
            <a href="#!" class="menu-top-header__link">stories</a>
          </li>
        </ul>
      </nav>
      <a href="" class="top-header__user">
        <span class="_icon-user"> </span>
        Enter
      </a>
      <nav hidden class="menu">
        <div class="menu__icon icon-menu">
          <span></span>
        </div>
        <div class="menu__body"></div>
      </nav>
    </div>
  </div>
  <div class="header__body body-header">
    <div class="body-header__container container">
      <a href="" class="body-header__logo logo pulselogo">
        <img src="../img/logo/logo.png" alt="logo" />
      </a>
      <div data-dynamic="catalog-header__container,1,480" class="body-header__search">
        <form action="#" class="search-header">
          <label for="search-header__submit">
            <button type="submit" title="search" class="search-header__button">
              <span class="_icon-search"> </span>
            </button>
          </label>
          <label for="search-header__input">
            <input
              type="text"
              title="title"
              autocomplete="off"
              data-error="Error"
              placeholder=""
              name="form[]"
              class="search-header__input"
            />
          </label>
        </form>
      </div>

      <div data-dynamic="top-header__container,1,992" class="actions-header__phones phones-header">
        <div class="phones-header__items">
          <div class="phones-header__item">
            <a href="#!" class="phones-header__phone">
              <span class="material-icons-outlined icon_phone"> phone </span>
              8-800-111-22-33
            </a>
          </div>
        </div>
      </div>
      <a
        href=""
        data-dynamic="top-header__container,3,992"
        class="actions-header__cart cart-header"
      >
        <div class="cart-header__icon">
          <span class="_icon-bag"></span>
          <span class="cart-header__num"> 0 </span>
        </div>
      </a>
    </div>
  </div>
  <div class="header__catalog catalog-header">
    <div class="catalog-header__container">
      <nav class="catalog-header__menu menu-catalog">
        <button type="button" class="menu-catalog__back">Back</button>
        <ul class="menu-catalog__list">
          <li class="menu-catalog__item">
            <button type="button" data-parent="1" class="menu-catalog__link">Catalogue #1</button>
          </li>
          <li class="menu-catalog__item">
            <button type="button" data-parent="2" class="menu-catalog__link">Catalogue #2</button>
          </li>
          <li class="menu-catalog__item">
            <a href="#!" class="menu-catalog__link">Catalogue #3</a>
          </li>
          <li class="menu-catalog__item">
            <a href="#!" class="menu-catalog__link">Catalogue #4</a>
          </li>
          <li class="menu-catalog__item">
            <a href="#!" class="menu-catalog__link">Catalogue #5</a>
          </li>
        </ul>
        <div class="menu-catalog__sub-menu sub-menu-catalog">
          <button type="button" class="sub-menu-catalog__back">Back</button>
          <div class="sub-menu-catalog__container">
            <div hidden data-submenu="1" class="sub-menu-catalog__block">
              <div class="sub-menu-catalog__category">
                <a href="#!" class="sub-menu-catalog__link-category">main category #1</a>
              </div>
              <div class="sub-menu-catalog__category">
                <a href="#!" class="sub-menu-catalog__link-category">auxilary category #2</a>
              </div>
              <div class="sub-menu-catalog__category">
                <a href="#!" class="sub-menu-catalog__link-category">auxilary category #3</a>
              </div>
              <div class="sub-menu-catalog__category">
                <a href="#!" class="sub-menu-catalog__link-category">auxilary category #4</a>
              </div>

              <ul class="sub-menu-catalog__list">
                <li class="sub-menu-catalog__item">
                  <a href="#!" class="sub-menu-catalog__link">category link #1</a>
                </li>
                <li class="sub-menu-catalog__item">
                  <a href="#!" class="sub-menu-catalog__link">category link #2</a>
                </li>
                <li class="sub-menu-catalog__item">
                  <a href="#!" class="sub-menu-catalog__link">category link #3</a>
                </li>
                <li class="sub-menu-catalog__item">
                  <a href="#!" class="sub-menu-catalog__link">category link #4</a>
                </li>
                <li class="sub-menu-catalog__item">
                  <a href="#!" class="sub-menu-catalog__link">category link #5</a>
                </li>
                <li class="sub-menu-catalog__item">
                  <a href="#!" class="sub-menu-catalog__link">category link #6</a>
                </li>
                <li class="sub-menu-catalog__item">
                  <a href="#!" class="sub-menu-catalog__link">category link #7</a>
                </li>
                <li class="sub-menu-catalog__item">
                  <a href="#!" class="sub-menu-catalog__link">category link #8</a>
                </li>
              </ul>
              <ul class="sub-menu-catalog__list">
                <li class="sub-menu-catalog__item">
                  <a href="#!" class="sub-menu-catalog__link">category link #1</a>
                </li>
                <li class="sub-menu-catalog__item">
                  <a href="#!" class="sub-menu-catalog__link">category link #2</a>
                </li>
                <li class="sub-menu-catalog__item">
                  <a href="#!" class="sub-menu-catalog__link">category link #3</a>
                </li>
                <li class="sub-menu-catalog__item">
                  <a href="#!" class="sub-menu-catalog__link">category link #4</a>
                </li>
                <li class="sub-menu-catalog__item">
                  <a href="#!" class="sub-menu-catalog__link">category link #5</a>
                </li>
              </ul>
              <ul class="sub-menu-catalog__list">
                <li class="sub-menu-catalog__item">
                  <a href="#!" class="sub-menu-catalog__link">category link #1</a>
                </li>
                <li class="sub-menu-catalog__item">
                  <a href="#!" class="sub-menu-catalog__link">category link #2</a>
                </li>
                <li class="sub-menu-catalog__item">
                  <a href="#!" class="sub-menu-catalog__link">category link #3</a>
                </li>
              </ul>
              <ul class="sub-menu-catalog__list">
                <li class="sub-menu-catalog__item">
                  <a href="#!" class="sub-menu-catalog__link">category link #1</a>
                </li>
                <li class="sub-menu-catalog__item">
                  <a href="#!" class="sub-menu-catalog__link">category link #2</a>
                </li>
                <li class="sub-menu-catalog__item">
                  <a href="#!" class="sub-menu-catalog__link">category link #3</a>
                </li>
                <li class="sub-menu-catalog__item">
                  <a href="#!" class="sub-menu-catalog__link">category link #4</a>
                </li>
                <li class="sub-menu-catalog__item">
                  <a href="#!" class="sub-menu-catalog__link">category link #5</a>
                </li>
                <li class="sub-menu-catalog__item">
                  <a href="#!" class="sub-menu-catalog__link">category link #6</a>
                </li>
                <li class="sub-menu-catalog__item">
                  <a href="#!" class="sub-menu-catalog__link">category link #7</a>
                </li>
              </ul>
              <div class="sub-menu-catalog__footer">
                <a href="#!" class="sub-menu-catalog__all">show all</a>
              </div>
              <div class="sub-menu-catalog__footer">
                <a href="#!" class="sub-menu-catalog__all">show all</a>
              </div>
              <div class="sub-menu-catalog__footer">
                <a href="#!" class="sub-menu-catalog__all">show all</a>
              </div>
              <div class="sub-menu-catalog__footer">
                <a href="#!" class="sub-menu-catalog__all">show all</a>
              </div>
            </div>
            <div hidden data-submenu="2" class="sub-menu-catalog__block">
              <div class="sub-menu-catalog__category">
                <a href="#!" class="sub-menu-catalog__link-category"> main category #2</a>
              </div>
              <div class="sub-menu-catalog__category">
                <a href="#!" class="sub-menu-catalog__link-category"> auxilary category #2</a>
              </div>
              <ul class="sub-menu-catalog__list">
                <li class="sub-menu-catalog__item">
                  <a href="#!" class="sub-menu-catalog__link">category link #1</a>
                </li>
                <li class="sub-menu-catalog__item">
                  <a href="#!" class="sub-menu-catalog__link">category link #2</a>
                </li>
                <li class="sub-menu-catalog__item">
                  <a href="#!" class="sub-menu-catalog__link">category link #3</a>
                </li>
                <li class="sub-menu-catalog__item">
                  <a href="#!" class="sub-menu-catalog__link">category link #4</a>
                </li>
                <li class="sub-menu-catalog__item">
                  <a href="#!" class="sub-menu-catalog__link">category link #5</a>
                </li>
              </ul>
              <ul class="sub-menu-catalog__list">
                <li class="sub-menu-catalog__item">
                  <a href="#!" class="sub-menu-catalog__link">category link #1</a>
                </li>
                <li class="sub-menu-catalog__item">
                  <a href="#!" class="sub-menu-catalog__link">category link #2</a>
                </li>
                <li class="sub-menu-catalog__item">
                  <a href="#!" class="sub-menu-catalog__link">category link #3</a>
                </li>
              </ul>
              <div class="sub-menu-catalog__footer">
                <a href="#!" class="sub-menu-catalog__all">show all</a>
              </div>
              <div class="sub-menu-catalog__footer">
                <a href="#!" class="sub-menu-catalog__all">show all</a>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>
