<section class="main-popup" id="main-popup">
    <a href="#top" class="main-popup__area">0</a>
    <div class="main-popup__container">
        <article class="main-popup__content">
            <div class="main-popup__close" id="main-popup-close">X</div>
            <h2 class="main-popup__title">POPUP</h2>
            <p class="main-popup__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae at qui reiciendis
                voluptate porro natus consequuntur fuga neque eligendi possimus culpa aut non, vero
                amet in, eveniet magnam nobis quibusdam, quo quidem ad debitis? Laboriosam fugiat
                vel doloremque, velit cum aliquid excepturi ea harum modi.
            </p>
        </article>
    </div>
</section>

<section class="main-popup-trigger" id="main-popup-trigger">
    <span>Show Popup</span>
</section>
