<section class="moments">
  <div class="moments__container container">
    <h1 class="moments__title title">#KinnMoments</h1>
    <div class="moments__pictures pictures-moments">
      <div class="pictures-moments__item">
        <img src="img/moments/01.jpg" alt="picture" />
      </div>
      <div class="pictures-moments__item">
        <img src="img/moments/02.jpg" alt="picture" />
      </div>
      <div class="pictures-moments__item">
        <img src="img/moments/03.jpg" alt="picture" />
      </div>
      <div class="pictures-moments__item">
        <img src="img/moments/04.jpg" alt="picture" />
      </div>
    </div>
  </div>
</section>
