<section class="quote">
  <div class="quote__container container">
    <h2 class="quote__headline">
      If your happy place is at the dinner table, we totally get that. That’s why we created
      products to help you find slow moments in a fast world.
    </h2>
    <div class="quote__links">
      <a href="" class="quote__shop">
        shop all
        <span class="_icon-arrow"></span>
      </a>
      <a href="" class="quote__stories"
        >read stories
        <span class="_icon-arrow"></span>
      </a>
    </div>
  </div>
</section>
