<div class="sign-up">
  <div class="sign-up__container container">
    <form action="#!" id="signUp" class="sign-up__body">
      <h1 class="sign-up__title">Sign up to our newsletter</h1>
      <p class="sign-up__descript">Receive special offers and first look at new products.</p>
      <div class="sign-up__item">
        <label for="form-email" class="sign-up__label">E-mail*:</label>
        <input type="text" name="email" id="form-email" class="sign-up__input req _email" />
        <button type="submit" class="sign-up__button">Subscribe</button>
      </div>
    </form>
  </div>
</div>
