<div data-spoilers data-one-spoiler class="spoiler-block spoiler-block_one">
  <div class="spoiler-block__container container">
    <div class="spoiler-block__item">
      <button tabindex="-1" type="button" data-spoiler class="spoiler-block__title">
        Regular spoiler #1
      </button>
      <div class="spoiler-block__text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae modi ipsa qui
        cupiditate iure illo, similique esse reiciendis odio error aut! Nesciunt voluptatibus
        laboriosam numquam fuga neque veritatis, qui fugit excepturi est minima tenetur!
      </div>
    </div>
    <div class="spoiler-block__item">
      <button tabindex="-1" type="button" data-spoiler class="spoiler-block__title">
        Regular spoiler #2
      </button>
      <div class="spoiler-block__text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae modi ipsa qui
        cupiditate iure illo, similique esse reiciendis odio error aut! Nesciunt voluptatibus
        laboriosam numquam fuga neque veritatis, qui fugit excepturi est minima tenetur!
      </div>
    </div>
  </div>
</div>
<div data-spoilers="650,min" class="spoiler-block spoiler-block_two">
  <div class="spoiler-block__container container">
    <div class="spoiler-block__item">
      <button tabindex="-1" type="button" data-spoiler class="spoiler-block__title">
        This spoiler only works on screen width >= 650px
      </button>
      <div class="spoiler-block__text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae modi ipsa qui
        cupiditate iure illo, similique esse reiciendis odio error aut! Nesciunt voluptatibus
        laboriosam numquam fuga neque veritatis, qui fugit excepturi est minima tenetur!
      </div>
    </div>
  </div>
</div>
<div data-spoilers="800,max" class="spoiler-block spoiler-block_three">
  <div class="spoiler-block__container container">
    <div class="spoiler-block__item">
      <button tabindex="-1" type="button" data-spoiler class="spoiler-block__title">
        This soiler works only on screen width <= 800px
      </button>
      <div class="spoiler-block__text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae modi ipsa qui
        cupiditate iure illo, similique esse reiciendis odio error aut! Nesciunt voluptatibus
        laboriosam numquam fuga neque veritatis, qui fugit excepturi est minima tenetur!
      </div>
    </div>
  </div>
</div>
