<div class="story">
  <div class="story__container container">
    <div class="story__row">
      <div class="story__image">
        <img src="img/story/01.jpg" alt="story" />
      </div>
      <div class="story__body">
        <h2 class="story__title title">Our Design Story</h2>
        <p class="story__text">
          We believe in thoughtful, intentional living. So we promise not to clutter your cabinets
          with one-off pieces you’ll rarely use. Our collection only includes items you’ll reach for
          every day. Because mindful living should be simple, not stressful. Lorem, ipsum dolor sit
          amet consectetur adipisicing elit. Deserunt aspernatur voluptate eos, iste pariatur ex
          beatae repellat dignissimos culpa corporis unde dolorem illum earum alias voluptas, cumque
          quasi, cum molestiae adipisci eaque excepturi. Odio tempora voluptatum voluptatibus vitae
          recusandae debitis facilis deleniti, voluptates quasi eum quisquam mollitia eveniet eaque
          porro fuga temporibus, et delectus ipsam vel magnam. Id dolorum, minima, nesciunt, eius
          quaerat quam nemo sequi distinctio dolores laudantium eligendi quisquam omnis beatae
          possimus neque ut placeat laboriosam ea quia cum. Nesciunt commodi nihil hic vero dolore
          similique, quia consequatur?
        </p>
      </div>
    </div>
  </div>
</div>
